# Ignore Mac system files
.DS_store

# Ignore R project and R project files
.Rproj
.Rproj.user/

# Ignore recoverability folder 
simulation_and_recovery_code/

# Ignore recoverability analyses 
analysis_code/explo_recoverability.Rmd

# Ignore simulated data (too large)
data/model_output/*sim*.csv